/* General styles */
body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    background-color: white;
    padding: 40px;
    width: 300px;
}

.sign-in-header {
    text-align: center;
    font-size: 35px;
}

/* Input group styles */
.input-group {
    margin: 12px;
}

.input-label {
    display: block;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

/* Action buttons */
.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn {
    width: auto;
    padding: 15px;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.btn:hover {
    background-color: wheat;
}

.btn-forgot-password{
    display: flex;
    padding: 15px;
    font-size: 15px;
    justify-content: space-around;
}

.forgot-password {
    color: blue;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.account{
    margin-left: 45px;
    font-size: 15px;
}



