.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

button {
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

button:hover {
    background-color: #ddd;
}

button.active {
    background-color: #ccc;
}

.stickingOut {
    display: none;
    padding: 5px;
    border: 1px solid #ccc;
    border-top: none;
}