# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore IntelliJ IDEA project files and folders
.idea/
*.iml

# Ignore system files
.DS_Store

# Ignore logs, temporary files, and node_modules (למקרה שתעבוד עם פרויקט ריאקט בעתיד)
node_modules/
dist/
npm-debug.log*
yarn-error.log

# Ignore OS-specific files
Thumbs.db
desktop.ini